---
http_interactions:
- request:
    method: get
    uri: http://lothlorien.home:8081/api/3095c1a9ac3f9bf4f4d47295904ce631/?cmd=future
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"data\": {\n        \"later\": [\n            {\n                \"airdate\":
        \"2012-08-25\", \n                \"airs\": \"Saturday 7:00 PM\", \n                \"ep_name\":
        \"Asylum Of The Daleks\", \n                \"ep_plot\": \"\", \n                \"episode\":
        1, \n                \"network\": \"BBC One\", \n                \"paused\":
        0, \n                \"quality\": \"SD\", \n                \"season\": 7,
        \n                \"show_name\": \"Doctor Who (2005)\", \n                \"show_status\":
        \"Continuing\", \n                \"tvdbid\": 78804, \n                \"weekday\":
        6\n            }, \n            {\n                \"airdate\": \"2012-09-11\",
        \n                \"airs\": \"Tuesday 10:00 PM\", \n                \"ep_name\":
        \"Sovereign\", \n                \"ep_plot\": \"\", \n                \"episode\":
        1, \n                \"network\": \"FX\", \n                \"paused\": 0,
        \n                \"quality\": \"SD\", \n                \"season\": 5, \n
        \               \"show_name\": \"Sons of Anarchy\", \n   [...]
- request:
    method: get
    uri: http://lothlorien.home:8081/api/3095c1a9ac3f9bf4f4d47295904ce631/?cmd=future&type=missed%7Csoon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"data\": {\n        \"missed\": [], \n        \"soon\": [\n
        \           {\n                \"airdate\": \"2012-08-13\", \n                \"airs\":
        \"Monday 9:00 PM\", \n                \"ep_name\": \"There's Always a Downside\",
        \n                \"ep_plot\": \"Pete and Claudia reunite with Hugo to track
        down a deadly artifact at his nephew's prep school; Myka and Steve investigate
        an artifact that is killing a musician in New Orleans.\", \n                \"episode\":
        4, \n                \"network\": \"Syfy\", \n                \"paused\":
        0, \n                \"quality\": \"SD\", \n                \"season\": 4,
        \n                \"show_name\": \"Warehouse 13\", \n                \"show_status\":
        \"Continuing\", \n                \"tvdbid\": 84676, \n                \"weekday\":
        1\n            }\n        ]\n    }, \n    \"message\": \"\", \n    \"result\":
        \"success\"\n}"
  recorded_at: Sun, 12 Aug 2012 10:59:52 GMT
- request:
    method: get
    uri: http://lothlorien.home:8081/api/3095c1a9ac3f9bf4f4d47295904ce631/?cmd=future&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"data\": {\n        \"later\": [\n            {\n                \"airdate\":
        \"2012-08-25\", \n                \"airs[...]
- request:
    method: get
    uri: http://lothlorien.home:8081/api/3095c1a9ac3f9bf4f4d47295904ce631/?cmd=future&sort&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"data\": {\n        \"later\": [\n            {\n                \"airdate\":
        \"2012-08-25\", \n                \[...]
- request:
    method: get
    uri: http://lothlorien.home:8081/api/3095c1a9ac3f9bf4f4d47295904ce631/?cmd=future&sort=network&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"data\": {\n        \"later\": [\n            {\n                \"airdate\":
        \"2012-09-25\", \n         [...]
- request:
    method: get
    uri: http://lothlorien.home:8081/api/3095c1a9ac3f9bf4f4d47295904ce631/?cmd=future&sort&type=missed%7Csoon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"data\": {\n        \"missed\": [], \n        \"soon\": [\n
        \           {\n                \"airdate\": \"2012-08-13\", \n                \"airs\":
        \"Monday 9:00 PM\", \n                \"ep_name\": \"There's Always a Downside\",
        \n                \"ep_plot\": \"Pete and Claudia reunite with Hugo to track
        down a deadly artifact at his nephew's prep school; Myka and Steve investigate
        an artifact that is killing a musician in New Orleans.\", \n                \"episode\":
        4, \n                \"network\": \"Syfy\", \n                \"paused\":
        0, \n                \"quality\": \"SD\", \n                \"season\": 4,
        \n                \"show_name\": \"Warehouse 13\", \n                \"show_status\":
        \"Continuing\", \n                \"tvdbid\": 84676, \n                \"weekday\":
        1\n            }\n        ]\n    }, \n    \"message\": \"\", \n    \"result\":
        \"success\"\n}"
  recorded_at: Sun, 12 Aug 2012 11:08:59 GMT
[...]
