---
http_interactions:
- request:
    method: get
    uri: http://lothlorien.home:8081/api/3095c1a9ac3f9bf4f4d47295904ce631/?cmd=shows
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"data\": {\n        \"70522\": {\n            \"air_by_date\":
        0, \n            \"cache\": {\n                \"banner\": 1, \n                \"poster\":
        1\n            }, \n            \"language\": \"en\", \n            \"network\":
        \"SciFi\", \n            \"next_ep_airdate\": \"\", \n            \"paused\":
        0, \n            \"quality\": \"SD\", \n            \"show_name\": \"Farscape\",
        \n            \"status\": \"Ended\", \n            \"tvrage_id\": 3519, \n
        \           \"tvrage_name\": \"Farscape\"\n        }, \n        \"70533\":
        {\n            \"air_by_date\": 0, \n            \"cache\": {\n                \"banner\":
        1, \n                \"poster\": 1\n            }, \n            \"language\":
        \"en\", \n            \"network\": \"ABC\", \n            \"next_ep_airdate\":
        \"\", \n            \"paused\": 0, \n            \"quality\": \"SD\", \n            \"show_name\":
        \"Twin Peaks\", \n            \"status\": \"Ended\", \n          [...]
- request:
    method: get
    uri: http://lothlorien.home:8081/api/3095c1a9ac3f9bf4f4d47295904ce631/?cmd=shows&sort
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"data\": {\n        \"70522\": {\n            \"air_by_date\":
        0, \n            \"cache\": {\n                \"banner\"[...]
- request:
    method: get
    uri: http://lothlorien.home:8081/api/3095c1a9ac3f9bf4f4d47295904ce631/?cmd=shows&sort=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"data\": {\n        \"30 Rock\": {\n            \"air_by_date\":
        0, \n            \"cache\": {\n                \"banner\": 1, \n                \"poster\":
        1\n            }, \n            \"language\": \"en\", \n            \"network\":
        \"NBC\", \n            \"next_ep_airdate\": \"2012-10-04\", \n            \"paused\":
        0, \n            \"quality\": \"SD\", \n            \"status\": \"Continuing\",
        \n            \"tvdbid\": 79488, \n            \"tvrage_id\": 11215, \n            \"tvrage_name\":
        \"30 Rock\"\n        }, \n        \"Accidentally On Purpose\": {\n            \"air_by_date\":
        0, \n            \"cache\": {\n                \"banner\": 1, \n                \"poster\":
        1\n            }, \n            \"language\": \"en\", \n            \"network\":
        \"CBS\", \n            \"next_ep_airdate\": \"\", \n            \"paused\":
        0, \n            \"quality\": \"SD\", \n [...]
[...]
