---
http_interactions:
- request:
    method: get
    uri: http://lothlorien.home:8081/api/3095c1a9ac3f9bf4f4d47295904ce631/?cmd=show.stats&tvdbid=70522
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"data\": {\n        \"archived\": 0, \n        \"downloaded\":
        {\n            \"1080p_bluray\": 0, \n            \"720p_bluray\": 0, \n            \"720p_web-dl\":
        0, \n            \"hd_tv\": 0, \n            \"sd_dvd\": 6, \n            \"sd_tv\":
        2, \n            \"total\": 8, \n            \"unknown\": 0\n        }, \n
        \       \"ignored\": 0, \n        \"skipped\": 78, \n        \"snatched\":
        {\n            \"1080p_bluray\": 0, \n            \"720p_bluray\": 0, \n            \"720p_web-dl\":
        0, \n            \"hd_tv\": 0, \n            \"sd_dvd\": 0, \n            \"sd_tv\":
        0, \n            \"total\": 6, \n            \"unknown\": 0\n        }, \n
        \       \"total\": 92, \n        \"unaired\": 0, \n        \"wanted\": 0\n
        \   }, \n    \"message\": \"\", \n    \"result\": \"success\"\n}"
  recorded_at: Sun, 12 Aug 2012 20:44:48 GMT
recorded_with: VCR 2.2.4
